// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &;
  // #{$block-name}__element

  position: relative;
  z-index: 10;



  // первый уровень

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;

    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-left: 40px;
    }
  }

  &__item {


    @media (min-width: $screen-xl) {
      margin-right: 15px;
    }

    &_ml {
      @media (min-width: $screen-xl) {
        margin-left: 40px;
      }
    }
  }

  &__item-user {
    display: flex;
    justify-content: space-between;
    margin-top: 0;

    & img {
      padding: 3px;
      border: 2px solid #b5ab9c;
      border-radius: 50%;
    }
  }

  &__link {
    position: relative;
    display: block;
    margin-top: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;

    &--active {

      @media (min-width: $screen-xl) {
        border-bottom: 2px solid $main-color;
      }
    }

    &--mt0 {
      margin-top: 0;
    }

    &:hover {
      color: $main-color;
    }

    &:hover,
    &:focus {

    }

    & img {
      width: 63px;
      height: 63px;
    }
  }

  &__link-user-wrapper {
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
  }

  &__link-user-name {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;

    &:hover {
      color: $main-color;
    }
  }

  &__link-balance-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__link-user-balance {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
  }

  // переключатель

  &__toggler {
    position: absolute;
    top: -110px;
    right: 0;
    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &__btn {
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;

    @media (min-width: $screen-xl) {

    }
  }

  &__btn-balance {
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3px;
    padding-left: 3px;
    background-color: $main-color;
    color: #000;
    font-size: 20px;
    line-height: 15px;
  }
}
