// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &;
  // #{$block-name}__element

  &__wrapper {
    margin-top: 15px;

    @media (min-width: $screen-xl) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__counter-block {
    text-align: center;
    color: #fff;

    &_ml {
      margin-left: 20px;
    }
  }

  &__users {
    padding: 5px;
    border-radius: 5px;
    background-color: #293A40;
  }

  &__users-number {
    font-weight: 700;
  }

  &__users-text {
    font-size: 12px;
    opacity: 0.3;
  }
}
