// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               15px;

.btn {

  $block-name:                &;
  // #{$block-name}__element

  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
  padding: 7px 30px;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $main-color;
  border-radius: $border-radius;
  border: 2px solid $main-color;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
	transition: all 700ms ease;

  &:active,
  &:focus {
    @include field-focus;
  }

  &:hover {
    color: #fff;
    background-color: $main-color;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: $opacity;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--accent {
    color: #fff;
    background-color: $main-color;
  }

  &--xs-mt {
    margin-top: 20px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
}
