//Colors
$color-main: #68dbd8;
$color-main--lighten: #77dfdc;
$color-main--darken: #36a6a4;
$color-elements: #f96041;
$color-text: #4c4241;
$color-white: #fff;

//Font-size
$font-size--num: 15.031em;
$font-size--h1: 3.581em;
$font-size--h2: 3.125em;
$font-size--37: 2.344em;
$font-size--31: 1.953em;
$font-size--27: 1.719em;
$font-size--25: 1.563em;
$font-size--text: 1.367em;
$font-size--18: 1.172em;
$font-size--17: 1.063em;
$font-size--9: 0.563em;